[submodule "blockbench"]
	path = blockbench
	url = https://github.com/dloghin/blockbench.git
[submodule "caliper-plusplus"]
	path = caliper-plusplus
	url = https://github.com/dloghin/caliper-plus
[submodule "fabric-v0.6"]
	path = fabric-v0.6
	url = https://github.com/dloghin/fabric.git
[submodule "fabric-plusplus"]
	path = fabric-plusplus
	url = https://github.com/dloghin/fabric.git
